<%= render partial: "admin/shared/show_header", locals: { title: "New Environment Variable", hide_filters: true } %>

<div class="px-8 py-6">
  <%= render "form", environment_variable: @environment_variable %>
</div>
