<%
  action_buttons = []

  action_buttons << { label: "View Target", path: target_path(@target), variant: :default, color: :gray, size: :base, icon: "icon-view" }

  unless @target.deleted?
    action_buttons << { label: "Delete Target", path: target_path(@target), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this target?" }, variant: :default, color: :gray, size: :base, icon: "icon-trash" }
  end
%>
<%= render partial: "admin/shared/show_header", locals: { title: "Edit Target: #{@target.name}", action_buttons: action_buttons } %>

<div class="py-6">
  <%= render 'form', target: @target %>
</div>
