<div class="bg-white dark:bg-zinc-900 rounded-lg shadow-sm border border-gray-100 dark:border-zinc-700 p-3 lg:p-4">
  <div class="flex items-center gap-2 mb-4">
    <h3 class="text-white font-sans text-base font-normal">Last Five Scans Attack Success Rate</h3>
    <%= render 'shared/info_tooltip', aria_label: 'Information about Last Five Scans Attack Success Rate', content: t('dashboard.tooltips.last_five_scans') %>
  </div>
  <div data-dashboard-target="lastFiveScansScores" class="w-full h-56 sm:h-64" aria-label="Last Five Scans Score chart">
    <%= render partial: "charts/shared/loading_notice" %>
  </div>
</div>
