<div class="bg-white dark:bg-zinc-900 rounded-lg shadow-sm border border-gray-100 dark:border-zinc-700 p-3 lg:p-4">
  <div class="flex items-center gap-2 mb-4">
    <h3 class="text-white font-sans text-base font-normal">Scans and Targets Over Time</h3>
    <%= render 'shared/info_tooltip', aria_label: 'Information about Scans and Targets Over Time', content: t('dashboard.tooltips.scans_targets_time') %>
  </div>
  <div data-dashboard-target="scanAndTargetCountsChart" class="w-full h-56 sm:h-64" aria-label="Scanning Performance by Time chart">
    <%= render partial: "charts/shared/loading_notice" %>
  </div>
</div>
