<%
  dismissible = local_assigns.fetch(:dismissible, true)
  wrapper_classes = local_assigns.fetch(:wrapper_classes, "px-2.5 lg:px-5 py-2")
%>
<% if flash.any? %>
  <div class="flash-messages <%= wrapper_classes %>">
    <% flash.each do |type, message| %>
      <%
        # Map flash types to Tailwind classes
        alert_class = case type.to_sym
        when :notice, :success
          "bg-green-50 dark:bg-green-900/20 border-green-200 dark:border-green-800 text-green-800 dark:text-green-200"
        when :alert, :error
          "bg-red-50 dark:bg-red-900/20 border-red-200 dark:border-red-800 text-red-800 dark:text-red-200"
        when :warning
          "bg-yellow-50 dark:bg-yellow-900/20 border-yellow-200 dark:border-yellow-800 text-yellow-800 dark:text-yellow-200"
        else
          "bg-blue-50 dark:bg-blue-900/20 border-blue-200 dark:border-blue-800 text-blue-800 dark:text-blue-200"
        end
      %>
      <div class="<%= alert_class %> border rounded-lg p-4 mb-2" role="alert">
        <div class="flex items-center justify-between">
          <div class="flex-1">
            <%= message %>
          </div>
          <% if dismissible %>
            <button type="button" class="ml-4 text-current hover:opacity-75" onclick="this.parentElement.parentElement.remove()">
              <span class="icon icon-sm icon-x"></span>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
