<div class="bg-zinc-800 px-3 py-2 flex items-center sticky top-0 z-20 h-16 xl:hidden">
  <button class="xl:hidden pe-2 inline-flex items-center w-8 h-8 justify-center text-sm text-gray-500 dark:text-gray-400 focus-visible:outline-none focus-visible:ring-ring focus-visible:bg-transparent focus-visible:ring-0 focus-visible:ring-offset-0" data-action="click->mobile-nav#toggle" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation menu">
    <span class="icon icon-md icon-menu text-gray-800 dark:text-white"></span>
  </button>

  <div class="grow">
    <h1 data-test-site-title class="text-lg font-semibold flex items-center gap-1">
      <%= render "layouts/partials/brand_logo" %>
    </h1>
  </div>

</div>
